@font-face {
    font-family: 'DejaVu Sans Mono';
    src: url('fonts/DejaVuSansMono-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DejaVu Sans Mono';
    src: url('fonts/DejaVuSansMono-Bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'DejaVu Sans Mono';
    src: url('fonts/DejaVuSansMono-Oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: oblique;
}
@font-face {
    font-family: 'DejaVu Sans Mono';
    src: url('fonts/DejaVuSansMono-BoldOblique-webfont.woff') format('woff');
    font-weight: bold;
    font-style: oblique;
}

